.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(60px, 60px);
    margin-top: 1em;
}

.operadores {
    padding: 3em;   
    display: grid;
}